body{
    padding: 0px;
    margin: 0px;
}
.navbar-brand{
    font-size: 150%;
    padding: 0px 20px 0px 20px;
}
.nav-link{
    font-size: 150%;
    margin: 0px 20px 0px 20px;
}
.header{
    margin: 0px;
}
.jumbotron{
    margin: 0px;
    min-height: 500px;
}
.header .img{
    margin-right: 0px;
    padding-right: 0px;
}
p{
    font-size: 30px;
    margin-top: 10%;
   
}
h1{
    text-decoration: underline;
}
